

{% for note in notes %}
            <form class="description" action="/desc" method="post">
               <h2>{{note['title']}}</h2>
               <a class="delete" value="{{note['id']}}" href="/delete/{{note['id']}}">delete</a><br>
               <input type="hidden" name="hidden" value="{{note['id']}}">
               <textarea name="description" rows="4" placeholder="enter description here..." cols="60">
                  {% if note['description'] %}
                     {{note['description']}}
                  {% endif %}
               </textarea><br>
            </form>
{% endfor %}

<br><br>
<form class="add_note" action="/add" method="post">
   <input type="text" name="title" value="">
   <input type="submit" class="btn" name="submit" value="add a new title">
</form>
